@import "./mixin.scss";

.About {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__Description {
    position: relative;
    z-index: 10;
    color: rgb(205, 205, 205);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    padding: 2rem 2rem 10rem 2rem;
    flex: 1;

    @include large-desktop {
      padding: 5rem 3rem;
      flex: 0.7;
    }

    &__Title {
      font-size: 4rem;
      margin-bottom: 4rem;
      text-align: center;
      margin-top: 0;
      opacity: 0;
      animation: fadeIn 0.4s ease-in-out forwards;
    }

    &__Paragraph {
      font-size: 1.6rem;
      margin: 3rem 0;
      line-height: 2rem;
      opacity: 0;
      animation: fadeIn 0.4s ease-in-out forwards;
      letter-spacing: 0.1rem;
    }
  }

  &__Picture {
    position: absolute;
    height: 100%;
    animation: appearance 0.4s ease-in-out forwards;
    opacity: 0;
    align-items: end;
    display: none;

    @include large-desktop {
      display: flex;
    }

    &__Image {
      position: relative !important;
      width: auto !important;
      z-index: 1;
      align-self: flex-end;
      display: flex;
      height: 80% !important;
      justify-content: flex-end;
    }
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    right: -40%;
  }
  100% {
    opacity: 1;
    right: -15%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
