.Canvas {
  height: 100vh;
  width: 100vw;
  background-color: hsl(0, 0%, 5%);
  display: flex;
  justify-content: center;
  align-items: center;

  &__Frame {
    height: calc(100vh - 5.5rem);
    width: calc(100vw - 5.5rem);
    border: 1px solid #ffffff85;
    background-color: rgb(16, 16, 16);
    padding: 3rem;
    color: rgb(205, 205, 205);
    position: relative;

    &__Name {
      font-size: 3rem;
    }

    &__Role {
      margin-top: 0.5rem;
      font-size: 1.6rem;
      color: rgb(233, 231, 231);
      font-weight: bold;
    }
  }
}
